/*
 * Header   which contains the avatar and the user name
 */
header {
  margin-top: 120px;
  height: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(201, 125, 32);
  background-image: url("https://www.transparenttextures.com/patterns/lined-paper.png");
}
header h2 {
  color: #ffffff;
}
header h2 span {
  font-weight: 300;
}
