textarea {
  width: 100%;
  border: none;
  border-bottom: 5px solid #5e6572;
  background-color: transparent;
}
.new-tweet {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.new-tweet .counter {
  float: right;
}
#tweet-form #error {
  display: none;
  height: 75px;
  text-align: center;
  width: 100%;
  border-style: groove;
  color: crimson;
  border-color: crimson;
}
.new-tweet button {
  background-color: #4056a1;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
