/*
 * Tweets display styles
 */
#tweets-container {
  width: 100%;
}
article {
  background-color: transparent;
  padding: 1.5em;
  margin-top: 20px;
  border: 5px solid #5e6572;
}
article header {
  display: flex;
  margin: 0px;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  background: none;
  height: 100px;
  color: #6881d6;
}
article div {
  overflow-wrap: break-word;
  border-bottom: 5px solid #5e6572;
}
article footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#tweet-icons {
  border: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 20%;
}
#tweet-icons i {
  color: #4056a1;
}
.tweet:hover {
  box-shadow: 5px 10px #6881d6;
}
#tweet-icons i:hover {
  color: rgb(201, 125, 32);
}
